<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title></title>
</head>
<body>
  <h1>Dojo Survey</h1>
  <div class="message">
  </div>
  <div>
    <form>
      <div>
        <label for="name">your name:</label>
        <input type="text" id="name" name="name">
      </div>
      <div>
        <label for="location">Dojo location:</label>
        <select id="location" name="location">
          <option value="Tokyo">Tokyo</option>
          <option value="Taiwan">Taiwan</option>
          <option value="Osaka">Osaka</option>
        </select>
      </div>
      <div>
        <label for="language">Favorite language:</label>
        <select id="language" name="language">
          <option value="ada">ada</option>
          <option value="java">java</option>
          <option value="c">c</option>
          <option value="javascript">javascript</option>
          <option value="python">python</option>
        </select>
      </div>
      <div>
        <label for="comment">Comment(optional):</label>
        <textarea id="comment" name="comment" cols="30" rows="10"></textarea>
      </div>
      <div>
        <button>Submit</button>
      </div>

    </form>
  </div>
</body>
</html>
